body{
background: linear-gradient(135deg, black, lightskyBlue);
text-align: center;
}

img{ 
width: 500px;
height: 500px;
border-radius: 30px;
margin: 0 0 30px 0;
}

a{
color: white;
font-family: Forte;
font-size: 30px;
}

h1{
color: red;
background: linear-gradient(270deg, brown, black);
font-family: Cooper Black;
border: solid linen 10px;
border-radius: 30px;
text-align: center;
margin: 20px 80px 20px 80px;
padding: 20px 0 20px 0;
}

.home{
color: yellow;
font-family: cursive;
font-size: 30px;
}

li{
    margin: 20px 0 20px 0;
}