body{
background-color: lightskyBlue;
}

img{ 
width: 500px;
height: 500px;
border-radius: 30px;
}

a{
color: white;
font-family: Forte;
font-size: 30px;
}

h1{
color: red;
font-family: Cooper Black;
border: solid yellow 20px;
border-radius: 30px;
text-align: center;
}

.home{
color: yellow;
font-family: cursive;
font-size: 30px;
}