body{ 
background: linear-gradient(darkSlateGray, gray, black);
margin: 0 0 20px 0;
}

.welcome{ 
color: hotPink;
background-color: blueViolet;
font-family: Cooper Black;
border: solid 15px pink;
border-radius: 50px;
text-align: center;
}

.p{ 
color: lime;
font-family: Comic Sans MS;
font-size: 25px;
margin: 0 0 30px 50px;
}

img{ 
width: 80px;
height: 80px;
border-radius: 30px;
}

li{
color: white;
font-style: italic;
font-weight: bold;
font-size: 30px; 
margin: 0 0 40px 0;s
}

em{
color: red;
font-weight: bold;
}

h2{
color: red;
font-family: Cooper Black;
text-align: center; 
}

button{
margin: 0 0 0 20px;
}

