<!doctype html>
<html>
<head>
<style>
body{
background-color: lightskyBlue; }
a{
color: white; 
font-family: Forte;
font-size: 20px;}
</style>
<title>The Lighthouse Keepers</title>
</head>
<body>
<h1 style="color: red; font-family: Cooper Black;">THE LIGHT HOUSE KEEPERS</h1>
<ol>
<li><a href="https://www.youtube.com/watch?v=9b6zsinUajs">Lighthouse Keepers 1</a></li>
<li><a href="https://www.youtube.com/watch?v=_eIr4UuIvf8">Lighthouse Keepers 2</a></li>
<li><a href="https://www.youtube.com/watch?v=ejdJVAAbuRk">Lighthouse Keepers 3</a></li>
<li><a href="https://www.youtube.com/watch?v=nbKkP-nf9uI">Lighthouse Keepers 4</a></li>
<li><a href="https://www.youtube.com/watch?v=OuDeTgOwt88">Lighthouse Keepers 5</a></li>
</ol>
<p><a href="/index.css"><strong style="color: yellow; font-family: cursive; font-size: 30px;">Home</strong></a></p>
</body>
</html>